body {
	/* ?overflow-x: hidden; */
	margin: 0px;
	background-color: #303841;
	color: #eeeeee;
	font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
		sans-serif;
}

/* *---Header--- */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 12vh;
	background-color: #d72323;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

#identity {
	display: flex;
	align-items: center;
}

#logo img {
	width: 12vh;
}

#firmenname {
	color: #eeeeee;
	font-size: 2em;
	font-family: Helvetica;
	text-decoration: none;
}

#suchfeld {
	margin-right: 1vw;
	background-color: #3a4750;
	width: 160px;
	height: 25px;
	border: none;
	border-radius: 30px;
	color: #eeeeee;
	background-image: url("resources/searchIco.png");
	background-size: 10%;
	background-position: 6px 5px;
	background-repeat: no-repeat;
	padding-left: 30px;
}

#mobile {
	margin-right: 15px;
	display: none;
	flex-direction: row;
	justify-content: space-between;
}

#mobileSearch {
	display: none;
}

#suchCheck {
	display: block;
	margin: 0;
	height: 32px;
	width: 32px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

#mobileSearchIcon {
	display: block;
	margin-right: 15px;
	margin-top: -32px;
	height: 25px;
	width: 25px;
	z-index: 2;
}

#mobileSuchfeld {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 12vh;
	width: 100vw;
	height: 8vh;
	background-color: #eeeeee;
	font-size: 1rem;
	padding-left: 10px;
}

#suchCheck:checked ~ #mobileSuchfeld {
	display: block;
}

#hamburgerMenu {
	display: none;
}

#hamburgerCheck {
	display: block;
	margin: 0;
	height: 32px;
	width: 32px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

#hamburgerLines {
	display: block;
	margin-top: -32px;
	height: 26px;
	width: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
}

.line {
	background: #eeeeee;
	height: 4px;
	border-radius: 10px;
}

#line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

#line2 {
	transition: transform 0.2s ease-in-out;
}

#line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}

#hamburgerList {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin-top: 12vh;
	height: 88vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	list-style: none;
	background-color: rgba(238, 238, 238, 0.9);
	/* box-shadow: inset 0 0 2000px rgba(238, 238, 238, 0.9); !Farbe ändern */
	transform: translate(-150%);
	transition: transform 0.5s ease-in-out;
}

.hamburgerItem a {
	text-decoration: none;
	color: #303841;
	font-size: 2rem;
	border-radius: 10px;
	padding: 10px;
	transition: 0.3s ease-in-out;
}

.hamburgerItem a:hover {
	color: #d72323;
	background-color: #303841;
}

#hamburgerMenu #hamburgerCheck:checked ~ #hamburgerList {
	transform: translateX(0);
}

#hamburgerMenu #hamburgerCheck:checked ~ #hamburgerLines #line1 {
	transform: rotate(45deg);
}

#hamburgerMenu #hamburgerCheck:checked ~ #hamburgerLines #line2 {
	transform: scaleY(0);
}

#hamburgerMenu #hamburgerCheck:checked ~ #hamburgerLines #line3 {
	transform: rotate(-45deg);
}

/* *---Main--- */
main {
	margin: 13vh 1vw 8vh;
}

/* *---Index--- */
#focus {
	margin-top: -1vh;
	margin-left: -1vw;
	margin-right: -1vw;
	overflow: hidden;
}

#focus img {
	width: 100%;
	transition: 0.3s ease-in-out;
	z-index: 1;
}

#focus img:hover {
	transform: scale(1.1);
}

#cardSection {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 5px;
}

.card {
	overflow: hidden;
	border-radius: 5px;
}

.card img {
	width: 100%;
	border-radius: 5px;
	transition: 0.3s ease-in-out;
}

.card img:hover {
	transform: scale(1.1);
}

/* *---Über Uns--- */

/* *---Datenschutz--- */

/* *---Impressum--- */

/* *---AGB--- */

/* *---Info--- */
#infoTop {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 5px;
}

#eventInfo {
	background-color: #3a4750;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

#eventInfo span {
	margin-left: 10px;
}

#plaetze {
	font-weight: 600;
}

#eventInfo ul {
	margin: 0;
}

#infoImage {
	width: 100%;
	border-radius: 5px;
}

#infoMiddle {
	text-align: center;
}

#infoBottom {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 5px;
}

#ausgewaehlt {
}

#stadion {
}

.anzahlPlaetze {
	display: block;
	margin-top: 5px;
	border: none;
	width: 40px;
	height: 2rem;
	border-radius: 3px;
	background-color: #3a4750;
	color: #eeeeee;
	text-align: center;
	font-size: 1rem;
}

#button {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

#weiter {
	height: 50px;
	width: 200px;
	border: none;
	border-radius: 3px;
	background-color: #d72323;
	color: #eeeeee;
	font-size: 1rem;
	font-weight: bolder;
	cursor: pointer;
}

/* *---Eingabe--- */
.formular {
	position: relative;
	border: 3px;
	background-color: #3a4750;
}

/* button {
	display: block;

	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	padding: 8px;
	cursor: pointer;
	font-size: 15px;
} */

.form-box > button[type="submit"]:hover {
	background-color: #8d1212;
}

.formular #firstname,
#lastname,
#email {
	margin-left: 1%;
	display: block;
	padding: 50px;
	float: left;
	text-align: center;
}

.check-box {
	clear: left;
	padding: 16px;
}

.form-box > label:first-child {
	display: block;
}

.form-box > label:last-child {
	position: relative;
	vertical-align: middle;
	bottom: 3px;
}

.form-box > input[type="text"],
.form-box > input[type="email"] {
	padding: 4px;
	border-style: hidden;
	border: 1px solid;
}

.form-box button {
	margin-left: 45%;
	height: 50px;
	width: 200px;
	border: none;
	border-radius: 3px;
	background-color: #d72323;
	color: #eeeeee;
	font-size: 1rem;
	cursor: pointer;
	font-weight: bolder;
}

/* *---Bestätigung--- */

#textBuchung {
	text-align: center;
}

#check {
}

/* *---Footer--- */
footer {
	/* Ragt noch über den Bildschirm */
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 7vh;
	background-color: #3a4750;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footerList {
	padding-left: 0;
	margin: 0;
	height: 100%;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 3vw;
	text-align: center;
	align-items: center;
}

.footerItem {
	border-radius: 10px;
	padding: 7px;
	transition: 0.3s ease-in-out;
}

.footerItem:hover {
	color: #3a4750;
	background-color: #eeeeee;
}

.footerItem a {
	color: inherit;
	text-decoration: none;
}

/* *---Mobil-Ansicht--- */
@media (max-width: 600px) {
	/* *---Header--- */
	#suchfeld {
		display: none;
	}

	#mobile {
		display: flex;
	}

	#hamburgerMenu {
		display: block;
	}

	#mobileSearch {
		display: block;
	}

	/* *---Main--- */
	main {
		margin-bottom: 0;
	}

	#cardSection {
		display: block;
	}

	#infoTop {
		display: block;
	}

	/* *---Footer--- */
	footer {
		display: none;
	}
}

/* TODO: min-height bei Header und Footer und media queries*/
