body {
	overflow-x: hidden;
	background-color: #303841;
	color: #eeeeee;
	font-family: "Courier New", Courier, monospace;
}

/* ---Header--- */
header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 12vh;
	background-color: #d72323;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#identity {
}

#logo {
	float: left;
	display: inline;
	margin: 10px;
	/*position: relative;
    width: ;
    height: ;*/
}

#firmenname {
	color: #eeeeee;
	font-size: 2em;
	text-decoration: none;
}

#suchfeld {
	background-color: #3a4750;
	float: right;
	margin-right: 2%;
	/*width: ;*/
	height: 20px;
	border-radius: 30px;
	color: #eeeeee;
}

/* ---Main--- */
#focus {
}

#focus,
.card img:hover {
	transform: scale(1.1);
}

#cardsection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 100px);
	grid-gap: 20px;
}

.card {
}

/* ---Footer--- */
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 5vh;
	background-color: #3a4750;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
